.default-enter, .default-appear {
    opacity: 0;
    scale: 0.98;
}
.default-enter-active, .default-appear-active {
    opacity: 1;
    scale: 1;
    transition: all 200ms ease-in-out;
}
.default-exit {
    opacity: 1;
    scale: 1;
}
.default-exit-active {
    opacity: 0;
    scale: 0.98;
    transition: all 100ms ease-in-out;
}