.viewport-enter, .viewport-appear {
    opacity: 0;
    scale: 0.98;
}
.viewport-enter-active, .viewport-appear-active {
    opacity: 1;
    scale: 1;
    transition: all 100ms ease-in-out;
}
.viewport-exit {
    opacity: 1;
    scale: 1;
}
.viewport-exit-active {
    opacity: 0;
    scale: 0.98;
    transition: all 50ms ease-in-out;
}