.viewport-enter, .viewport-appear {
    opacity: 0;
    scale: 0.98;
}
.viewport-enter-active, .viewport-appear-active {
    opacity: 1;
    scale: 1;
    transition: all 100ms ease-in-out;
}
.viewport-exit {
    opacity: 1;
    scale: 1;
}
.viewport-exit-active {
    opacity: 0;
    scale: 0.98;
    transition: all 50ms ease-in-out;
}

#move:focus{
    outline: 1px solid rgb(6 182 212);
    transition: all 200ms ease-in-out;
    /* outline: none; */
}

.move-enter, .move-appear {
    opacity: 0;
    scale: 0.98;
}
.move-enter-active, .move-appear-active {
    opacity: 1;
    scale: 1;
    transition: all 100ms ease-in-out;
}
.move-exit {
    opacity: 1;
    scale: 1;
}
.move-exit-active {
    opacity: 0;
    scale: 0.98;
    transition: all 0ms ease-in-out;
}

/* .hovertext {
    position: relative;
}
  
.hovertext:before {
    white-space: pre-line;
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 250px;
    text-align: start;
    padding: 5px 10px;
    transition: opacity 200ms ease-in-out;

    position: absolute;
    z-index: 1;
    right: -4px;
    top: -140px;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

#move{
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

@media (min-width: 640px) {
    .hovertext:before {
        width: 450px;
        top: -200%;
    }
} */